
<!-- =============== HEADER ==============================-->
<header class="header">
   <div class="header-inner">
      <!-- :: info :: .header-inner acts like container --> 
      <!-- #### logo font  -->
      <div class="logo-brand logo-font">
         <a href="index.html">
            <span class="logo-brand-inner">
               <span class="logo-b-different-logo">
                  <!--logo font for demo -->
               </span>
            </span>
         </a>
      </div>
      <!-- /.logo-brand-->
      <div class="header-btn-bar">
         <!-- .menu-toggle --> 
         <a href="#" class="menu-toggle" data-slide="slide" data-target="#navigation-panel">
            <!-- this above data-slide toggles the #navigation-panel .slide-panel -->
            <div class="menu-toggle-inner">
               <span class="veggieburger">
               <span class="lines">
               </span>
               </span>
               <!--/.veggieburger-->
               <span class="menu-toggle-text">
               M<i class="fa fa-bars"></i>NU
               </span>
            </div>
         </a>
         <!-- /.menu-toggle-->
         <div class="header-btn-wrapper clearfix">
            <!-- .header-btn-row-->
            <div class="header-btn-row half-row">
               <!-- Adding more header-btn-* here will require modification to ALL the media queries affecting this --> 
               <!-- BEGIN 1st .header-btn .header-btn-xl in first row --> 
               <a href="#" class="login-toggle header-btn header-btn-xl" data-slide="slide" data-target="#login-panel"> <i class="fa fa-sign-in header-icon"></i>
               <span class="header-btn-text">
               Login
               </span>
               </a> 
               <!-- this above data-slide toggles the #login-panel .slide-panel example --> 
               <!-- /END 1st .header-btn .header-btn-xl in first row --> 
               <!-- BEGIN 2nd.header-btn .header-btn-xl in first row --> 
               <a href="#" class="signin-toggle header-btn header-btn-xl" data-slide="slide" data-target="#signup-panel"> <i class="fa fa-pencil header-icon"></i>
               <span class="header-btn-text">
               Sign Up
               </span>
               </a> 
               <!-- this above data-slide toggles the #signup-panel .slide-panel example --> 
               <!-- /END 2nd .header-btn .header-btn-xl in first row -->
            </div>
            <!-- /.header-btn-row-->
            <div class="header-btn-row half-row">
               <!-- Adding more header-btn-* here will require modification to ALL the media queries affecting this --> 
               <!-- BEGIN 3rd .header-btn .header-btn-lg in second row --> 
               <a href="#" class="anchor header-btn header-btn-lg" data-slide="slide" data-target="#contact-panel"> <i class="fa fa-at header-icon"></i>
               <span class="header-btn-text">
               Contact
               </span>
               </a> 
               <!-- this above data-slide toggles the #contact-panel .slide-panel example --> 
               <!-- /END 3rd .header-btn .header-btn-lg in second row --> 
               <!-- BEGIN 4th .header-btn .header-btn-sm in second row--> 
               <a href="#" class="header-btn header-btn-sm search-toggle" data-slide="slide" data-target="#search-panel"  data-hover="tooltip" data-placement="left" title="search"> <i class="fa fa-search header-icon"></i> </a> 
               <!-- this above data-slide toggles the #search-panel .slide-panel example --> 
               <!-- /END 4th .header-btn .header-btn-sm in second row --> 
               <!-- BEGIN 5th .header-btn .header-btn-sm in second row--> 
               <a href="#" class="header-btn header-btn-sm" data-hover="tooltip" data-placement="left" title="follow us on twitter"> <i class="fa fa-twitter header-icon"></i> </a> 
               <!-- this link above links to your twitter page --> 
               <!-- /END 5th .header-btn .header-btn-sm in second row --> 
               <!-- BEGIN 6th .header-btn .header-btn-sm in second row--> 
               <a href="#" class="header-btn header-btn-sm" data-hover="tooltip" data-placement="left" title="like us on facebook"> <i class="fa fa-facebook header-icon"></i> </a> 
               <!-- this link above links to your facebook page --> 
               <!-- /END 6th .header-btn .header-btn-sm in second row --> 
               <!-- BEGIN 7th .header-btn .header-btn-sm in second row --> 
               <a href="#" class="header-btn header-btn-sm" data-hover="tooltip" data-placement="left" title="RSS Feed"> <i class="fa fa-rss header-icon"></i> </a> 
               <!-- this link above links to your google+ page --> 
               <!-- /END 7th .header-btn .header-btn-sm in second row -->
            </div>
            <!-- /END .header-btn-row-->
         </div>
         <!-- /END .header-btn-wrapper-->
      </div>
      <!-- /END .header-btn-bar -->
   </div>
   <!-- /END .header-inner --> 
</header>
<!-- =============== END HEADER ==============================-->


<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Kacking", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container --> 
</nav>